.about {
    display: flex;
    width: 100vw;
}

.text {
    flex: 1;
    color: #E6E6E0;
    font-size: 1.5rem;
    margin: 100px;
    line-height: 2rem;
}

.photo {
    flex: 1;
}

img {
    margin-right: 30px;
    margin-top: 70px;
    max-width: 70%;
    border-radius: 20px;
}