header {
  margin-top: 20px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #e6e6e6;
  text-decoration: none;
  background-color:#3f3d56;
  width: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 25px;
}


.logo {
  margin-left: 15vw;
}

.logo:hover .hide {
  display: block;
}


.icon:hover{
  cursor: pointer;
}

.icon {
  font-size: 50px;
  color: #FF5A00;
}

.hide {
  margin-left: 5px;
  color: #FF5A00;
  display: none;
}

.navbar {
  margin-right: 5vw;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  font-size: large;
  align-items: center;
}

.contact {
  padding: 10px;
}

.contact:hover {
  color: #FF5A00;
}

.about {
  padding: 10px;
  white-space: nowrap;
}

.about:hover {
  color: #FF5A00;
}

