main {
    display: flex;
    width: 100vw;
    height: 70vh;
    padding-top: 20px;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #FF5A00;
    height: 70vh;
    width: 50vw;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-left: 8vw;
}

.text {
    margin-top: 50px;
    flex: 20%;
}

.start {
    flex: 80%;
}

p {
    color: #e6e6e6;
    font-size: 3rem;
    background-color:#3f3d56;
    width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
}

p:hover {
    color: #FF5A00;
    cursor: pointer;
}

.image {
    flex: 1;
}


img {
    width: 80%;
    height: 80%;
}